<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <div class="container-fluid">
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search" align='right'>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<h1> this text Analyzer</h1>
        <form action='/analyze' method='post'>{% csrf_token %}
            <textarea name='text'style="width: 476px; height: 189px;"></textarea><br>
           <input type="checkbox"name='removepunc'/>removepunc  <br>
           <input type="checkbox"name="fullcaps"/>UPPERCASE<br>
           <input type="checkbox"name="ExtraSpaces"/>ExtraSpaceRemover<br>
           <input type="checkbox"name="charcount"/>charactercounter<br>
           <button type="submit">analyser</button>
        </form> 
      </div>
  
  </body>
</html>